<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidexam">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/prosperity"
        android:label="BIT-FLUENT"
        android:roundIcon="@drawable/prosperity"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExam"

        >

        <activity android:name=".FourthActivity" />
        <activity
            android:name=".SecondActivity"
            android:label="BIT-FLUENT" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>